@import url('https://fonts.cdnfonts.com/css/monaco');
@import url('https://fonts.cdnfonts.com/css/reprise-title');


:root {
    --colour-naf: hsl(240, 5%, 20%);
    --colour-accent: hsl(240, 55%, 65%);
    --colour-socials: hsl(240, 5%, 40%);
    --colour-navText: hsl(240, 25%, 95%);
    --colour-tabs: hsl(240, 55%, 65%);

    --active-fontSize: 20px;
    --alternate-fontSize: 12px;
    --active-fontFamily: 'Monaco', sans-serif;
    --alternate-fontFamily: 'Reprise Title', sans-serif;
}

@media (prefers-color-scheme: light) {
    :root {
        --colour-body: hsl(240, 20%, 95%);
        --colour-text: hsl(240, 5%, 10%);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --colour-body: hsl(240, 5%, 10%);
        --colour-text: hsl(240, 25%, 90%);
    }
}


a {
    text-decoration: none;
    color: var(--colour-text);
}

input::placeholder,
textarea::placeholder {
    color: var(--colour-socials);
}

html, body {
    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/img/logo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--colour-body);
    background-attachment: fixed;
    color: var(--colour-text);
    margin: 0 auto;
    padding: 0;
    width: auto;
    min-height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--active-fontFamily);
    font-size: var(--active-fontSize);
}

.content-container {
    min-height: calc(100vh - 120px);
    max-width: 1920px;
    margin: 0 auto;
    justify-content: center;
    overflow: auto;
    padding-top: 60px;
}

@media only screen and (max-width: 620px) {
    body {
        margin: 0;
        font-size: 3vw;
    }

    p {
        margin: 0;
        font-size: 3vw;
    }
}

header {
    background-color: var(--colour-naf);
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header a,
.link-nav {
    color: var(--colour-navText);
}

h3,
p {
    margin: 0;
    font-size: var(--active-fontSize);
}

.logo {
    /* background-color: red; */
    width: 40px;
    height: 40px;
}

.logo > img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 5px;
}

.storeLinks {
    /* background-color: red; */
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.tab-active {
    color: var(--colour-accent);
    font-weight: bold;
    /*font-style: italic;*/
}

main {
    /* background-color: var(--colour-white); */
    width: 100%;
    height: 100%;
    padding: 10px 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
}

.youtube-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

@media screen and (max-width: 560px) {
    .youtube-section iframe {
        width: 320px;
        height: 180px;
    }
}

@media screen and (max-width: 360px) {
    .youtube-section iframe {
        width: 160px;
        height: 90px;
    }
}


footer {
    background-color: var(--colour-naf);
    color: var(--colour-navText);
    position: static;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding: 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
    footer p {
        font-size: 3vw;
    }
}


.socials {
    /* background-color: red; */
    width: 80%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.socials > a,
a > svg {
    height: 30px;
    color: var(--colour-accent);
}

.text-accent {
    color: var(--colour-accent);
}

.about-me {
    /* background-color: red; */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* <-- change this to align the text to top/center/bottom flex-start/center/flex-end */
    gap: 20px;
}

.about-portrait {
    width: 15%;
    aspect-ratio: 1;
    border-radius: 5px;
}

.about-info {
    /* background-color: green; */
    width: 75%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.about-title {
    /* background-color: pink; */
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-text {
    /* background-color: yellow; */
    width: 70%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-contact {
    /* background-color: red; */
    width: 100%;
    max-width: 1920px;
    height: fit-content;
    display: grid;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.form-details {
    /* background-color: yellow; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
}

.form-details > div {
    /* background-color: yellow; */
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.form-details label {
    width: fit-content;
    height: 100%;
}

.form-details input {
    background-color: var(--colour-body);
    color: var(--colour-text);
    width: 100%;
    height: 100%;
    border: 2px solid var(--colour-accent);
    border-radius: 5px;
    padding: 0 20px;
    font-family: var(--active-fontFamily);
    font-size: calc(var(--active-fontSize) / 1.2);
}

.form-message {
    /* background-color: green; */
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
}

.form-message label {
    width: fit-content;
    height: 30px;
}

.form-message textarea {
    background-color: var(--colour-body);
    color: var(--colour-text);
    width: 100%;
    min-height: 50px;
    border: 0;
    border-radius: 5px;
    border: 2px solid var(--colour-accent);
    padding: 10px 20px;
    resize: vertical;
    font-family: var(--active-fontFamily);
    font-size: calc(var(--active-fontSize) / 1.2);
}

.form-button {
    background-color: var(--colour-accent);
    color: var(--colour-navText);
    width: 100%;
    height: 30px;
    border: 0;
    border-radius: 5px;
    font-family: var(--active-fontFamily);
    font-size: calc(var(--active-fontSize) / 1.2);
    grid-column-start: 1;
    grid-column-end: 3;
}


.dropdown-button {
    z-index: 2;
    background: none;
    border: none;
    cursor: pointer;
    display: block; /* Hide the dropdown button on desktop */
    margin-right: auto; /* Push the button to the left */
}

.dropdown-line {
    width: 30px;
    height: 3px;
    background: var(--colour-navText);
    margin: 4px 0;
}

.tabs {
    z-index: 1;
    background-color: var(--colour-naf);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    display: flex;
}


.tabs a {
    padding: 10px;
}

@media screen and (max-width: 900px) {
    .dropdown-button {
        display: block;
    }

    .tabs {
        display: none;
        top: 1%;
        width: 100%;
    }

    .tabs a {
        padding: 10px;
        text-align: center;
    }
}

@media screen and (min-width: 900px) {
    .tabs {
        flex-direction: row;
    }

    .dropdown-button {
        display: none;
    }
}

@media screen and (min-width: 900px) {
    .cloned-tab {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .cloned-tab {
        font-family: 'Reprise Title', sans-serif;
        font-weight: 400;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-with-svg {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-with-svg img {
    width: 500px; /* Adjust as needed */
}

.text-with-svg > div:first-child {
    max-width: 650px; /* Adjust as needed */
}

@media screen and (max-width: 1300px) {
    .text-with-svg img[src="./guitarMan.svg"] {
        display: none;
    }
}

.tabs a, h1 {
    font-family: 'Reprise Title', sans-serif;
    font-weight: 400;
}

